<section class="text-gray-700 body-font overflow-hidden bg-white">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <img
        alt="Producto"
        class="lg:w-1/2 w-full object-cover object-center rounded border border-gray-200"
        [src]="apiUrl + producto.fotos"
      />
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">
          {{ producto.nombre }}
        </h1>
        <div class="flex mb-4">
          <!-- reseñas promedios -->
          <span class="text-gray-600 ml-3">4 Reviews</span>
        </div>
        <h3>Descripcion</h3>
        <p class="leading-relaxed">
          {{ producto.descripcion }}
        </p>
        <div
          class="flex mt-6 items-center pb-5 border-b-2 border-gray-200 mb-5"
        >
          <div class="flex ml-6 items-center"></div>
        </div>
        <div class="flex">
          <span class="title-font font-medium text-2xl text-gray-900">
            ${{ producto.precio }}
          </span>
          <!-- Aquí puedes agregar botones para editar y eliminar el producto -->
          <button
            [routerLink]="['/productos', producto._id, 'editar']"
            class="flex ml-auto text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-700 rounded"
          >
            Editar
          </button>
          <button
            (click)="eliminarProducto()"
            class="flex ml-auto text-white bg-red-700 border-0 py-2 px-6 focus:outline-none hover:bg-red-900 rounded"
          >
            Eliminar
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
